@import "/styles/mixins.scss";

.cardsContainer {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  @include responsive(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 64rem) {
    flex-wrap: nowrap;
  }

  @include responsive(desktop) {
    margin-top: 3rem;
  }

  .modalContainer {
    width: 90%;
    height: 15rem;
    cursor: pointer;
    padding: 1.2rem;
    background: #fff;
    border-radius: 54px;
    box-shadow: 0px 4px 32px 8px rgba(202, 202, 202, 0.25);

    > div {
      background: #fff;
      width: 95%;
      display: flex;
      align-items: center;
      margin: 1rem auto;
      border-radius: 64px;
      padding: 1rem;
      box-shadow: inset 0px 4px 8px 4px rgba(211, 211, 211, 0.25);

      img {
        width: 30px;
        height: 30px;
        margin-right: 0.5rem;
      }

      p {
        margin-left: 0.5rem;
        font-weight: 700;
        font-family: inherit;
        @include FontSize(1rem, 1.25rem);
      }
    }

    > p {
      width: 90%;
      margin: 1.5rem auto;
      text-align: center;
      font-weight: 300;
      @include FontSize(1rem, 1.1rem);
    }

    @media screen and (min-width: 32.5rem) {
      width: 70%;
    }

    @include responsive(tablet) {
      width: 45%;
    }

    @media screen and (min-width: 1024px) {
      width: 35%;
    }
  }
}

.actionModal {
  width: 85%;
  padding: 1.2rem;
  cursor: pointer;
  margin: 2rem auto;
  background: #fff;
  border-radius: 54px;
  box-shadow: 0px 4px 32px 8px rgba(202, 202, 202, 0.25);

  height: 17rem;
  display: flex;
  align-items: center;
  align-items: center;
  flex-direction: column;

  p {
    width: 80%;
    padding: 1rem;
    font-size: 22px;
    font-weight: 700;
    background: #fff;
    text-align: center;
    border-radius: 64px;
    box-shadow: inset 0px 4px 8px 4px rgba(211, 211, 211, 0.25);
  }

  .icons {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: auto;
      height: 10rem;
    }
  }

  .nerdface {
    img {
      height: 7rem;
    }
  }

  @media screen and (min-width: 32.5rem) {
    width: 70%;
  }

  @include responsive(tablet) {
    width: 45%;
  }

  @media screen and (min-width: 1024px) {
    width: 40%;
    margin: 1rem;
  }
}

.mainWrapper {
  margin: 0 auto;
  min-height: 80vh;

  .textContainer {
    text-align: center;
    margin-top: 3rem;

    h1 {
      font-weight: 800;
      @include FontSize(3.5rem, 7.5rem);
    }

    p {
      width: 90%;
      margin: 1rem auto;
      font-weight: 300;
      @include FontSize(1rem, 1.375rem);
    }
  }

  @include responsive(tablet) {
    .modalContiainer {
      display: flex;
      flex-wrap: wrap;
    }
  }
  @media screen and (min-width: 1024px) {
    .modalContiainer {
      flex-wrap: nowrap;
    }
  }

  @include responsive(desktop) {
    width: 70%;
  }

  @include responsive(desktop-large) {
    width: 55%;
  }
}
