@import '/styles/mixins.scss';

.header {
  @include DisplayFlex(column, center, center);

  h1 {
    order: 2;
    width: 90%;
    font-size: 56px;
    font-weight: 800;
    line-height: 64px;
    text-align: center;
  }

  img {
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 50%;
    background: #fff;
  }

  @include responsive(tablet) {
    flex-direction: row;

    h1 {
      order: 0;
      width: auto;
    }

    div {
      background: none;
    }
  }
}

.innerHTML {
  @include Font(1rem, 300);
  margin-top: 2rem;
  line-height: 24px;
  text-align: center;
  margin-bottom: 3rem;

  span {
    font-weight: 700;
    font-style: italic;
  }

  strong {
    font-weight: 700;
  }
}
