.dropDown {
  .flickIcon {
    img {
      transform: rotate(180deg);
    }
  }

  .menu {
    background: darkcyan;
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 12px;
    border: 1px solid #000;
    background: none;
    cursor: pointer;

    p {
      margin-right: 0.5rem;
      font-weight: 600;
      font-size: 18px;
    }
  }

  .dropDownList {
    width: 90%;
    margin: 0 auto;
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    z-index: 1;
    border-radius: 38px;
    box-shadow: 0px 4px 32px 8px rgba(202, 202, 202, 0.25);

    button {
      color: #5a5a5a;
      border: none;
      outline: none;
      background: none;
      margin: 0.2rem 0;
      padding: 1rem;
      font-size: 1rem;
      cursor: pointer;
      font-weight: 400; // add font weight 500
    }

    .active {
      color: #000;
      font-weight: 600;
      background: #f2f2f2;
      border-radius: 2rem;
    }
  }

  .closeDropdown {
    display: none;
  }
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
