@import '/styles/mixins.scss';

.mainContainer {
  background: #000;
  color: #fff;
}

.landingSection {
  h1 {
    margin: 1rem;
    font-weight: 800;
    text-align: center;
    text-align: center;
    line-height: 4rem;
    @include FontSize(3rem, 4.5rem);

    span {
      background: #05aa5b;
      padding: 0 15px;
      border-radius: 25.5px;
    }
  }

  p {
    font-family: 'Poppins';
    padding: 1rem;
    margin: 1.2rem 0;
    text-align: center;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }

  @include responsive(tablet) {
    width: 75%;
    margin: 0 auto;

    h1 {
      line-height: 120px;
    }

    p {
      margin: 0 auto;
      width: 80%;
    }
  }
}

.cardsContainer {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  padding: 1rem;
  margin: 2rem 0.8rem;
  flex-direction: column;

  border-radius: 40px;
  padding-bottom: 3rem;
  backdrop-filter: blur(80px);
  -webkit-backdrop-filter: blur(80px);
  background: rgba(57, 57, 57, 0.24);

  @include responsive(tablet) {
    background: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #6e008b;
  }

  @include responsive(desktop-small) {
    width: 55rem;
    height: 30rem;
    margin: 2rem auto;
  }

  @include responsive(desktop) {
    width: 60rem;
  }

  .textContainer {
    display: flex;
    padding-top: 3rem;
    align-items: center;
    flex-direction: column;

    .tagline {
      padding: 0.2rem 1rem;
      background: #05aa5b;
      border-radius: 25.5px;
      font-family: 'Poppins';
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 0.5rem;
    }

    h2 {
      margin: 0.5rem;
      line-height: 60px;
      text-align: center;
      @include FontSize(3rem, 3.5rem);
    }

    .text {
      padding: 1rem;
      font-size: 15px;
      font-weight: 300;
      text-align: center;
      font-family: 'Poppins';
    }

    @include responsive(tablet) {
      align-items: flex-start;
      width: 65%;

      h2,
      .text {
        text-align: start;
      }

      h2 {
        line-height: 80px;
      }
    }
  }

  .icon {
    img {
      width: 250px;
      height: 250px;
      display: block;
      padding: 2rem;
      margin: 0 auto;
      border-radius: 50%;
      background: rgba(0, 0, 0, 0.48);
      box-shadow: inset 0px 4px 80px rgba(184, 184, 184, 0.25);
    }
  }
}

.QandA {
  padding: 0.5rem;
}

.browser {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    padding: 1rem;
    color: #b1b1b1;

    @include responsive(tablet) {
      font-weight: 700;
    }
  }

  div {
    padding: 0.5rem;
    margin: 1rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;

    img {
      width: 70px;
      height: 70px;
      padding: 1rem;
      background: #fff;
      border-radius: 80px;
      box-shadow: 0px 4px 32px 8px rgba(200, 200, 200, 0.25);

      @include responsive(tablet) {
        width: 90px;
        height: 90px;
      }
    }
  }

  a {
    width: 95%;
    font-weight: 400;
    font-family: 'Inter';
    color: #000;
    margin: 2rem 0;
    cursor: pointer;
    padding: 1.4rem;
    text-align: center;
    background: #fff;
    border-radius: 1rem;
    box-shadow: 0px 8px 16px 2px rgba(223, 223, 223, 0.25);

    @include responsive(tablet) {
      width: 15rem;
      padding: 1rem;
    }
  }
}
