@import '/styles/mixins.scss';

.container {
  width: 90%;
  margin: 0 auto;

  @include responsive(tablet) {
    height: 70rem;
    @include DisplayFlex(column, none, space-evenly);
  }

  .feedbackContainer {
    h2 {
      margin: 4rem 0;
      line-height: 3rem;
      text-align: center;
      @include Font(2.5rem, 800);

      span {
        opacity: 0.5;
      }
    }

    .userFeedback {
      min-height: 10rem;
      padding: 1rem;
      margin: 2rem 0;
      background: #fff;
      border-radius: 2rem;
      box-shadow: 0px 4px 32px 8px rgba(231, 231, 231, 0.25);

      display: grid;
      grid-template-rows: auto 80%;
      grid-template-columns: 15% 85%;

      .userInfo {
        margin-left: 0.4rem;
        p {
          @include Font(1.125rem, 700);
        }
      }

      .feedback {
        width: 100%;
        font-weight: 300;
        grid-column-end: span 2;
        @include FontSize(0.875rem, 1rem);
      }
    }

    @include responsive(tablet) {
      h2 {
        margin: 2.5rem 0;
      }

      section {
        flex-wrap: wrap;
        @include DisplayFlex(row, center, none);

        .userFeedback {
          width: 45%;
          margin: 1rem;

          .feedback {
            text-align: start;
          }
        }
      }
    }

    @include responsive(desktop) {
      width: 80%;
      margin: 0 auto;

      section {
        .userFeedback {
          width: 30%;
        }
      }
    }

    @include responsive(desktop-large) {
      width: 60%;
    }
  }
}
