@import '/styles/mixins.scss';

.container {
  width: 90%;
  margin: 0 auto;

  @include responsive(tablet) {
    height: 70rem;
    margin-top: 1rem;
    @include DisplayFlex(column, flex-start, space-evenly);
  }

  @include responsive(desktop) {
    height: 55rem;
  }

  .feedbackContainer {
    h2 {
      margin: 3rem 0;
      line-height: 1.3;
      text-align: center;
      word-wrap: break-word;
      @include FluidFont(800, 2.6rem, 15);

      span {
        opacity: 0.5;
      }
    }

    .userFeedback {
      padding: 1rem;
      margin: 2rem 0;
      min-height: 10rem;
      background: #fff;
      border-radius: 2rem;
      box-shadow: 0px 4px 32px 8px rgba(231, 231, 231, 0.25);

      display: grid;
      grid-template-rows: auto 80%;
      grid-template-columns: 15% 85%;

      .userInfo {
        margin-left: 0.4rem;
        p {
          @include FluidFont(700, 1.125rem, 0);
        }
      }

      .feedback {
        width: 100%;
        font-weight: 300;
        grid-column-end: span 2;
        margin-top: 1rem;
        @include FluidFont(300, 15px, 1);
      }
    }

    @include responsive(tablet) {
      h2 {
        width: 80%;
        margin: 2.5rem auto;
      }

      section {
        flex-wrap: wrap;
        @include DisplayFlex(row, center, flex-start);

        .userFeedback {
          width: 45%;
          margin: 1rem;
        }
      }
    }

    @include responsive(desktop) {
      h2 {
        width: 70%;
        margin: 0 auto;
      }

      section {
        margin: 2rem 0;
        @include DisplayFlex(row, center, center);

        .userFeedback {
          width: 25%;
        }
      }
    }

    @include responsive(desktop-large) {
      h2 {
        width: 50%;
        margin: 0 auto;
      }

      section {
        @include DisplayFlex(row, center, center);

        .userFeedback {
          width: 20%;
        }
      }
    }
  }
}
