@import "/styles/mixins.scss";

.container {
  width: 90%;
  margin: 0 auto;

  .faq {
    > div {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      > h2 {
        text-align: center;
        @include FontSize(2.5rem, 3.625rem);
      }

      > p {
        padding: 1rem;
        font-weight: 300;
        text-align: center;
        @include FontSize(1rem, 1rem);
      }

      .chatBtn {
        width: 90%;
        opacity: 0.6;
        padding: 1rem;
        margin: 0 auto;
        cursor: pointer;
        background: none;
        border-radius: 0.875rem;
        border: 2px solid #000;
        text-align: center;
        font-weight: 700;
        font-size: 1.2rem;

        &:hover {
          opacity: 1;
        }
      }
    }

    .questionAnswer {
      padding: 1rem;
      margin: 2rem 0;
      cursor: pointer;
      background: #fff;
      border-radius: 2rem;
      box-shadow: 0px -8px 32px rgba(220, 220, 220, 0.25);

      .question {
        display: flex;
        align-items: center;
        justify-content: center;

        .qn {
          width: auto;
          font-weight: 500;
          text-align: center;
        }

        .qnActive {
          font-size: 20px;
          font-weight: 700;
          @include FontSize(1rem, 18px);
        }

        .icon {
          display: none;
          margin-left: 0.5rem;
        }
      }

      > .answer {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.875rem;
        opacity: 0.5;
      }

      .answerActive {
        display: none;
      }
    }

    @include responsive(tablet) {
      display: flex;
      margin-top: 2rem;
      justify-content: space-evenly;

      > div {
        gap: 0.5rem;
        width: 45%;
        min-height: 30rem;
        justify-content: center;

        > h2 {
          text-align: start;
        }

        > p {
          padding: 0;
          margin: 1.5rem 0;
          text-align: start;
        }

        .chatBtn {
          margin: 0;
          width: 70%;
          padding: 0.7rem;
        }
      }

      > section {
        width: 50%;
        display: flex;
        gap: 1rem;
        flex-direction: column;
        justify-content: center;

        #special {
          border-top: none;
        }

        .questionAnswer {
          margin: 0;
          padding: 1rem;
          border-radius: 0;
          background: none;
          border-top: 1px solid black;

          .question {
            justify-content: space-between;

            .qn {
              font-weight: 500;
            }

            .icon {
              display: block;
            }
          }

          > .answer {
            font-size: 1rem;
            text-align: start;
          }

          .answerActive {
            display: none;
          }
        }
      }
    }

    @include responsive(desktop) {
      width: 70%;
      margin: 0 auto;

      > div {
        .chatBtn {
          width: 50%;
        }
      }

      section {
        gap: 1.3rem;
      }
    }
  }

  .feedbackContainer {
    h2 {
      margin: 4rem 0;
      line-height: 3rem;
      text-align: center;
      @include Font(2.5rem, 800);

      span {
        opacity: 0.5;
      }
    }

    .userFeedback {
      padding: 1rem;
      margin: 2rem 0;
      background: #fff;
      border-radius: 2rem;
      box-shadow: 0px 4px 32px 8px rgba(231, 231, 231, 0.25);

      display: grid;
      grid-template-rows: auto 80%;
      grid-template-columns: 15% 80%;

      .userDP {
        img {
          width: 44px;
          height: 44px;
        }
        align-self: center;
      }

      .userInfo {
        margin-left: 0.5rem;
        p {
          @include Font(1.125rem, 700);
        }
      }

      .feedback {
        width: 100%;
        text-align: center;
        grid-column-end: span 2;
        @include Font(1rem, 300);
      }
    }

    @include responsive(tablet) {
      h2 {
        margin: 2.5rem 0;
      }

      section {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .userFeedback {
          width: 45%;
          margin: 1rem;

          .feedback {
            text-align: start;
          }
        }
      }
    }

    @include responsive(desktop) {
      width: 80%;
      margin: 0 auto;

      section {
        .userFeedback {
          width: 30%;
        }
      }
    }

    @include responsive(desktop-large) {
      width: 60%;
    }
  }
}
