@import '/styles/mixins.scss';

.container {
  width: 90%;
  margin: 0 auto;

  @include responsive(tablet) {
    height: 70rem;
    margin-top: 1rem;
    @include DisplayFlex(column, flex-start, space-evenly);
  }

  @include responsive(desktop) {
    height: 55rem;
  }

  .faq {
    > div {
      @include DisplayFlex(column, none, none);
      gap: 1rem;

      > h2 {
        line-height: 1.2;
        text-align: center;
        @include FluidFont(700, 2.5rem, 20);
      }

      > p {
        padding: 1rem;
        text-align: center;
        @include FluidFont(300, 1rem, 2);
      }

      .chatBtn {
        width: 90%;
        opacity: 0.6;
        padding: 1rem;
        margin: 0 auto;
        cursor: pointer;
        background: none;
        border-radius: 0.875rem;
        border: 2px solid #000;
        text-align: center;
        font-weight: 700;
        font-size: 1.2rem;
        transition: all 400ms ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }

    .questionAnswer {
      outline: none;
      padding: 1rem;
      margin: 2rem 0;
      cursor: pointer;
      background: #fff;
      border-radius: 2rem;
      box-shadow: 0px -8px 32px rgba(220, 220, 220, 0.25);

      .question {
        @include DisplayFlex(row, center, center);

        .qn {
          width: auto;
          font-weight: 500;
          text-align: center;
          @include FluidFont(500, 13px, 1.5);

          @include responsive(tablet) {
            text-align: start;
          }
        }

        .qnActive {
          @include FluidFont(700, 1rem, 4);
        }

        .icon {
          display: none;
          margin-left: 0.5rem;
        }
      }

      > .answer {
        margin-top: 1rem;
        text-align: center;
        font-size: 0.875rem;
        opacity: 0.5;
      }

      .answerActive {
        display: none;
      }
    }

    @include responsive(tablet) {
      @include DisplayFlex(row, none, space-around);

      > div {
        gap: 0.5rem;
        width: 45%;
        min-height: 30rem;
        justify-content: center;

        > h2 {
          text-align: start;
        }

        > p {
          padding: 0;
          margin: 1.5rem 0;
          text-align: start;
        }

        .chatBtn {
          margin: 0;
          width: 70%;
          padding: 0.7rem;
        }
      }

      > section {
        width: 50%;
        gap: 1rem;
        @include DisplayFlex(column, none, center);

        #special {
          border-top: none;
        }

        .questionAnswer {
          margin: 0;
          padding: 1rem;
          border-radius: 0;
          background: none;
          border-top: 1px solid black;

          .question {
            justify-content: space-between;

            .qn {
              font-weight: 500;
            }

            .icon {
              display: block;
            }
          }

          > .answer {
            font-size: 1rem;
            text-align: start;
          }

          .answerActive {
            display: none;
          }
        }
      }
    }

    @include responsive(desktop) {
      > div {
        > h2 {
          width: 90%;
        }

        p {
          width: 90%;
        }
        .chatBtn {
          width: 50%;
        }
      }

      section {
        gap: 1.5rem;
      }
    }

    @include responsive(desktop-large) {
      width: 80%;
      margin: 0 auto;
    }
  }

  .feedbackContainer {
    h2 {
      margin: 3rem 0;
      line-height: 1.3;
      text-align: center;
      word-wrap: break-word;
      @include FluidFont(800, 2.6rem, 15);

      span {
        opacity: 0.5;
      }
    }

    .userFeedback {
      padding: 1rem;
      margin: 2rem 0;
      min-height: 10rem;
      background: #fff;
      border-radius: 2rem;
      box-shadow: 0px 4px 32px 8px rgba(231, 231, 231, 0.25);

      display: grid;
      grid-template-rows: auto 80%;
      grid-template-columns: 15% 85%;

      .userInfo {
        margin-left: 0.4rem;
        p {
          @include FluidFont(700, 1.125rem, 0);
        }
      }

      .feedback {
        width: 100%;
        font-weight: 300;
        grid-column-end: span 2;
        @include FluidFont(300, 14px, 2);
      }
    }

    @include responsive(tablet) {
      h2 {
        width: 80%;
        margin: 2.5rem auto;
      }

      section {
        flex-wrap: wrap;
        @include DisplayFlex(row, center, flex-start);

        .userFeedback {
          width: 45%;
          margin: 1rem;
        }
      }
    }

    @include responsive(desktop) {
      h2 {
        width: 70%;
        margin: 0 auto;
      }

      section {
        margin: 2rem 0;
        @include DisplayFlex(row, center, center);

        .userFeedback {
          width: 25%;
        }
      }
    }

    @include responsive(desktop-large) {
      h2 {
        width: 50%;
        margin: 0 auto;
      }

      section {
        @include DisplayFlex(row, center, center);

        .userFeedback {
          width: 20%;
        }
      }
    }
  }
}
