@import '/styles/mixins.scss';

.dropDown {
  width: 90%;
  margin: 0 auto;
  .flickIcon {
    img {
      transform: rotate(180deg);
    }
  }

  @include responsive(tablet) {
    width: 50%;
  }

  .menu {
    width: 90%;
    padding: 1rem;
    cursor: pointer;
    background: none;
    margin: 1rem auto;
    border-radius: 12px;
    border: 1px solid #000;
    @include DisplayFlex(row, none, center);

    p {
      margin-right: 0.5rem;
      font-size: 1.125rem;
      font-weight: 600;
      text-align: center;
    }
  }

  .dropDownList {
    @include ExploreMenu(90%);
  }

  .closeDropdown {
    display: none;
  }

  @include responsive(desktop-small) {
    width: 30%;

    .menu {
      display: none;
    }

    .closeDropdown {
      display: block;
      @include ExploreMenu(18rem);
    }
  }
}

.contentWrapper {
  margin: 0 auto;
  @include DisplayFlex(column, none, none);

  @include responsive(desktop-small) {
    padding: 1rem;
    @include DisplayFlex(row, none, space-evenly);
  }

  @include responsive(desktop) {
    min-height: 80vh;
    width: 90%;
  }

  @include responsive(desktop-large) {
    width: 70%;
  }
}
