@import "/styles/mixins.scss";

.dropDown {
  width: 90%;
  margin: 0 auto;
  .flickIcon {
    img {
      transform: rotate(180deg);
    }
  }

  @include responsive(tablet) {
    width: 50%;
  }

  .menu {
    width: 90%;
    display: flex;
    padding: 1rem;
    cursor: pointer;
    background: none;
    margin: 1rem auto;
    border-radius: 12px;
    justify-content: center;
    border: 1px solid #000;

    p {
      margin-right: 0.5rem;
      font-weight: 600;
      font-size: 18px;
    }
  }

  .dropDownList {
    @include ExploreMenu(90%);
  }

  .closeDropdown {
    display: none;
  }

  @include responsive(desktop-small) {
    width: 30%;

    .menu {
      display: none;
    }

    .closeDropdown {
      display: block;
      @include ExploreMenu(18rem);
    }
  }
}

.contentWrapper {
  display: flex;
  margin: 0 auto;
  flex-direction: column;

  @include responsive(desktop-small) {
    padding: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @include responsive(desktop) {
    min-height: 80vh;
    width: 90%;
  }

  @include responsive(desktop-large) {
    width: 70%;
  }
}
