.mainContainer {
  font-family: "Poppins";

  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

  h1 {
    margin-top: 1rem;
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    text-align: center;
  }

  > p {
    margin: 2rem 0;
    font-weight: 300;
    text-align: center;
    padding: 0.5rem;
  }

  > div {
    display: flex;
    flex-direction: column;
    .buttonStyles {
      width: 90%;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 1.2rem;
      font-size: 18px;
      font-weight: 600;
      margin: 1rem auto;
      border-radius: 1rem;
      background: rgb(245, 245, 245);
    }

    .light {
      @extend .buttonStyles;
      color: #fff;
      background: #000;
    }
  }
}
