$background: linear-gradient(180deg, #000000 0%, #000000 100%);

.mobileNav {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 4%;

  .showNav {
    @include mobileNav;
    height: 5rem;
    animation: showMenu 400ms;
    animation-fill-mode: forwards;

    background: $background;

    @keyframes showMenu {
      to {
        height: 15rem;
        margin-top: 6.5rem;
      }
    }

    li {
      opacity: 0;
      margin-top: 1.5rem;
      @include Font(1rem, 300);

      animation: text 1s;
      animation-fill-mode: forwards;

      @keyframes text {
        to {
          opacity: 1;
        }
      }
    }
  }

  .closeNav {
    @include mobileNav;

    margin: 0 auto;
    animation: closeMenu 400ms;
    animation-fill-mode: forwards;

    @keyframes closeMenu {
      from {
        height: 15rem;
        margin-top: 6.5rem;
        background: $background;
      }
      to {
        height: 4rem;
        background: $background;
      }
    }

    li {
      opacity: 1;
      margin-top: 1.5rem;
      @include Font(1rem, 300);

      animation: fadeText 400ms;
      animation-fill-mode: forwards;

      @keyframes fadeText {
        to {
          opacity: 0;
        }
      }
    }
  }

  .security {
    width: 50%;
    text-align: center;
  }

  .security::after {
    content: "new";
    text-align: end;
    padding: 0 10px;
    font-size: 10px;
    margin-left: 5px;
    border-radius: 8px;
    position: absolute;
    display: inline-block;
    background: #05aa5b;
  }
}
