@import '/styles/mixins.scss';

.pageWrapper {
  @include DisplayFlex(column, none, none);

  @include responsive(desktop-large) {
    height: 85vh;
    justify-content: space-evenly;
  }

  .landingIntro {
    h1 {
      padding: 1rem;
      line-height: 1.2;
      text-align: center;
      word-wrap: break-word;
      @include FluidFont(800, 3rem, 50);

      @include responsive(desktop-small) {
        line-height: 1.2;
      }
    }

    p {
      padding: 0.5rem;
      margin: 1.5rem 0;
      text-align: center;
      @include FluidFont(400, 1rem, 6);

      .mark {
        text-decoration: underline;
      }

      .highlight {
        font-weight: bold;
      }

      @include responsive(tablet) {
        margin: 2rem auto;
        width: 70%;
      }
    }

    .introButtons {
      width: 90%;
      margin: 1rem auto;
      @include DisplayFlex(column, none, none);

      @include responsive(tablet) {
        gap: 2rem;
        @include DisplayFlex(row, none, center);
      }
    }

    @media screen and (min-width: 1200px) {
      margin: 0rem auto;
      min-width: 65rem;
      max-width: 70%;
    }
  }

  .supportText {
    opacity: 0.2;
    padding: 1rem;
    text-align: center;
    @include FluidFont(600, 1.25rem, 3.5);

    @include responsive(tablet) {
      text-decoration: underline;
    }
  }

  .showcase {
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem auto;
    @include DisplayFlex(row, flex-start, center);

    div {
      display: flex;
      padding: 0.5rem;
      background: #fff;
      border-radius: 7.5rem;

      img {
        width: auto;
        min-height: 18px;
        max-height: 24px;
      }
    }
  }
}
