@import "/styles/mixins.scss";

.introBtn {
  @include Button(#fff, #000);
  box-shadow: 0px 8px 16px 2px rgba(188, 188, 188, 0.25);
}

.darkIntroBtn {
  @include Button(#000, #fff);
  box-shadow: 0px 8px 16px 2px rgba(223, 223, 223, 0.5);
}

.pageWrapper {
  display: flex;
  min-height: 55vh;
  flex-direction: column;

  @include responsive(desktop-large) {
    height: 85vh;
    justify-content: space-evenly;
  }

  .landingIntro {
    padding: 1rem;
    margin: 0rem auto;

    h1 {
      font-weight: 800;
      text-align: center;
      line-height: 3.5rem;
      @include FontSize(2.6rem, 6rem);

      @media screen and (min-width: 321px) {
        line-height: 4.125rem;
        @include FontSize(3.5rem, 6rem);
      }

      @media screen and (min-width: 361px) {
        @include FontSize(3.7rem, 6rem);
      }

      @include responsive(desktop) {
        line-height: 6rem;
      }

      @include responsive(desktop-large) {
        line-height: 7.5rem;
      }
    }

    p {
      padding: 0.5rem;
      margin: 1.5rem 0;
      text-align: center;
      @include FontSize(1rem, 1rem);

      .mark {
        text-decoration: underline;
      }

      .highlight {
        font-weight: bold;
      }

      @include responsive(tablet) {
        margin: 2rem auto;
      }
    }

    .introButtons {
      margin: 1rem 0;
      display: flex;
      flex-direction: column;

      @include responsive(tablet) {
        gap: 2rem;
        flex-direction: row;
        justify-content: center;
      }
    }

    @media screen and (min-width: 1024px) {
      width: 70%;
    }

    @include responsive(desktop) {
      width: 60%;

      p {
        @include FontSize(1rem, 1.3rem);
      }
    }

    @include responsive(desktop-large) {
      width: 60%;

      p {
        width: 90%;
      }
    }
  }

  .supportText {
    opacity: 0.2;
    padding: 1rem;
    text-align: center;
    @include Font(1.25, 600);

    @include responsive(tablet) {
      @include Font(1.5rem, 500);
      text-decoration: underline;
    }
  }

  .showcase {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 1rem auto;
    justify-content: center;
    
    div {
      display: flex;
      padding: 0.5rem;
      border-radius: 7.5rem;
      background: #fff;
      
      img {
        width: auto;
        height: 18px;
      }
    }


    @include responsive(desktop-small) {
      div {
        img {
          height: 20px;
        }
      }
    }

    @include responsive(desktop-large) {
      div {
        img {
          height: 30px;
        }
      }
    }
  }
}
