@import '/styles/mixins.scss';

.footerContainer {
  color: #fff;
  height: 25rem;
  background: radial-gradient(
    circle,
    rgba(26, 0, 54, 1) 0%,
    rgba(0, 0, 0, 1) 52%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 1rem;
  gap: 5rem;
  @include DisplayFlex(row, center, center);

  div {
    width: 15rem;
    @include DisplayFlex(row, none, space-between);

    ul {
      list-style: none;

      h4 {
        @include FluidFont(700, 1.375rem, 0);
      }

      li {
        margin: 1.5rem 0;
        cursor: pointer;
        @include FluidFont(400, 1rem, 0);
      }
    }
  }
}
