@import '/styles/mixins.scss';

.footerContainer {
  color: #fff;
  height: auto;
  background: rgb(5, 5, 5);
  margin-top: 12em;
  @include DisplayFlex(row, center, space-between);

  .items {
    width: auto;
    color: rgb(170, 170, 170);
    padding-right: 1em;

    & ul li :hover {
      color: #fff;
    }

    ul {
      display: flex;
      gap: 2em;
      list-style: none;

      li {
        margin: 1.5rem 0;
        cursor: pointer;
        @include FluidFont(400, 0.8em, 0);
      }
    }
  }
}
