@import '/styles/mixins.scss';
@import '/styles/partials/mobileNav.module.scss';

.Nav {
  z-index: 1;
  width: 90%;
  height: 5rem;
  margin: 2rem auto;
  position: relative;

  background: #fff;
  border-radius: 32px;
  @include DisplayFlex(row, center, space-between);
  box-shadow: 0px 4px 32px 8px rgba(231, 231, 231, 0.25);

  @include responsive(desktop-large) {
    width: 70%;
  }

  .navItems {
    display: none;
  }

  .logo {
    cursor: pointer;
    margin-left: 1rem;
    @include DisplayFlex(row, center, none);

    p {
      font-family: 'Inter';
      font-weight: 500;
      line-height: 17px;
      font-size: 1.125rem;
      margin-left: 0.5rem;
    }
  }

  .burgerMenu,
  .closeMenu {
    display: flex;
    cursor: pointer;
    margin-right: 1.5rem;
  }

  .addToBrowsers,
  .install {
    display: none;
  }

  @include responsive(tablet) {
    .burgerMenu,
    .closeMenu {
      display: none;
    }

    .navItems {
      width: 40%;
      list-style: none;
      @include security();
      @include DisplayFlex(row, none, space-between);

      li {
        cursor: pointer;
        @include FluidFont(400, 1rem, 0);
        transition: all 400ms ease-in-out;

        &:hover {
          opacity: 0.87;
        }
      }
    }

    .addToBrowsers,
    .install {
      display: block;
      visibility: hidden;
    }
  }

  @include responsive(desktop-small) {
    .buttonStyles {
      width: 10rem;
      padding: 0.8rem;
      cursor: pointer;
      text-align: center;
      visibility: visible;
      margin-right: 2rem;
      border-radius: 1rem;
      border: 1px solid #000;
      @include FluidFont(700, 14px, 1);
      text-transform: capitalize;
      transition: all 400ms ease-in-out;
    }
    .addToBrowsers {
      @extend .buttonStyles;
      background: none;
      transition: all 400ms ease-in-out;

      &:hover {
        color: #fff;
        background: #000;
      }
    }

    .install {
      @extend .buttonStyles;
      color: #fff;
      background: #000;
      transition: all 400ms ease-in-out;

      &:hover {
        color: #000;
        background: #fff;
        border: 1.5px solid #000;
      }
    }

    .installDark {
      color: #000;
      background: #fff;

      &:hover {
        transform: scale(0.97);
      }
    }
  }
}

.darkNav {
  background: rgba(57, 57, 57, 0.24);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  .navItems {
    li {
      color: #fff;
    }
  }
  .logo {
    p {
      color: #fff;
    }
  }
}
