.Nav {
  width: 80%;
  height: 5rem;
  margin: 2rem auto;
  position: relative;

  display: flex;
  background: #fff;
  border-radius: 32px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 32px 8px rgba(231, 231, 231, 0.25);

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;

    p {
      font-family: "Inter";
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
  }

  .navItems {
    position: absolute;
    text-decoration: none;
    list-style-type: none;
    top: 0%;
    top: 100%;

    width: 100%;
    min-height: 20rem;
    color: #fff;
    padding: 1rem;
    margin: 1rem 0;

    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    display: none;

    background: linear-gradient(180deg, #000000 0%, #000000 100%);

    div {
      margin-top: 5px;
      cursor: pointer;
      margin-right: 5px;
      align-self: flex-end;
    }

    li {
      margin-top: 1.5rem;
      font-family: "Poppins";
      font-size: 17px;
    }

    .security {
      width: 50%;
      text-align: center;
    }

    .security::after {
      content: "new";
      text-align: end;
      padding: 0 10px;
      font-size: 10px;
      margin-left: 5px;
      border-radius: 8px;
      position: absolute;
      display: inline-block;
      background: #05aa5b;
    }
  }

  .burgerMenu {
    margin-right: 1rem;
    cursor: pointer;
  }

  .hide {
    display: none;
  }

  .showNav {
    display: flex;
    top: 0%;
  }
}
