@import "/styles/mixins.scss";
@import "/styles/partials/mobileNav.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.Nav {
  z-index: 1;
  width: 90%;
  height: 5rem;
  margin: 2rem auto;
  position: relative;

  display: flex;
  background: #fff;
  border-radius: 32px;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 32px 8px rgba(231, 231, 231, 0.25);

  @include responsive(desktop-large) {
    width: 70%;
  }

  .navItems {
    display: none;
  }

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;

    p {
      font-family: "Inter";
      font-weight: 500;
      line-height: 17px;
      font-size: 1.125rem;
      margin-left: 0.5rem;
    }
  }

  .burgerMenu,
  .closeMenu {
    display: flex;
    cursor: pointer;
    margin-right: 1.5rem;
  }

  .addToBrowsers,
  .install {
    display: none;
  }

  @include responsive(tablet) {
    .burgerMenu {
      display: none;
    }

    .navItems {
      width: 40%;
      display: flex;
      list-style: none;
      justify-content: space-evenly;
      @include security();

      li {
        cursor: pointer;
        @include Font(1rem, 300);
      }
    }

    .addToBrowsers {
      display: block;
      visibility: hidden;
    }
  }

  @include responsive(desktop-small) {
    .buttonStyles {
      width: 10rem;
      padding: 0.8rem;
      cursor: pointer;
      text-align: center;
      visibility: visible;
      margin-right: 2rem;
      border-radius: 1rem;
      border: 1px solid #000;
      @include Font(14px, 700);
      text-transform: capitalize;
    }
    .addToBrowsers {
      @extend .buttonStyles;
      background: none;
    }

    .install {
      @extend .buttonStyles;
      color: #fff;
      background: #000;
    }
  }
}
