@import "/styles/mixins.scss";

.dappsContainer {
  padding: 1.5rem;
  @include responsive(tablet) {
    width: 90%;
    margin: 0 auto;
  }

  @include responsive(desktop-small) {
    width: 60%;
  }

  .arConnect {
    width: 8rem;
    margin: 0 auto;

    @include responsive(tablet) {
      width: 11rem;
    }
  }
}

.mainContainer {
  font-family: "Poppins";
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  @include responsive(desktop-small) {
    width: 70%;
  }

  @include responsive(desktop) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .headerContainer {
    padding: 1.5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    @include responsive(desktop-small) {
      flex-direction: row;
    }

    h1 {
      font-weight: 800;
      line-height: 64px;
      text-align: center;
      margin-right: 1rem;
      @include FontSize(3.4rem, 3.75rem);
    }
  }

  p {
    font-weight: 300;
    margin-top: 1rem;
    text-align: center;
    @include FontSize(1rem, 1.125rem);

    @include responsive(desktop-small) {
      width: 90%;
    }

    @include responsive(desktop) {
      width: 80%;
    }

    @include responsive(desktop-large) {
      width: 70%;
    }

    a {
      cursor: pointer;
      color: #0645ad;
    }
  }

  .arConnect {
    margin-top: 2rem;
    margin-bottom: 1rem;

    @include responsive(desktop) {
      img {
        width: 220px;
        height: 220px;
      }
    }
  }

  .browserBtn {
    width: 90%;
    border: none;
    color: #fff;
    outline: none;
    cursor: pointer;
    padding: 1.2rem;
    font-weight: 600;
    margin: 1rem auto;
    text-align: center;
    font-size: 1.125rem;
    border-radius: 1rem;
    background: #000;
    transition: all 400ms ease-in-out;

    &:hover {
      color: #000;
      background: none;
      transform: scale(1.02);
      border: 1.5px solid #000;
    }

    @include responsive(desktop) {
      width: 50%;
    }
  }
}
