.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    background: #0680d7;
    border-radius: 25.5px;
    padding: 0.2rem 1rem;
    font-size: 12px;
  }

  h2 {
    font-family: inherit;
    font-size: 2.2rem;
    line-height: 40px;
    text-align: center;

    span {
      display: block;
      opacity: 0.5;
    }
  }

  .text {
    font-weight: 400;
    font-size: 14px;
    text-align: center;
  }
}
