.introBtn {
  border: none;
  outline: none;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.05rem;
  background: #fff;
  font-family: inherit;
  margin-bottom: 1rem;
  border-radius: 12px;
}

.darkIntroBtn {
  color: #fff;
  background: #000;
}

.pageWrapper {
  .landingIntro {
    width: 85%;
    margin: 0 auto;

    h1 {
      font-weight: 800;
      font-size: 56px;
      line-height: calc(45px + (75 - 45) * ((100vw - 280px) / (480 - 280)));
      text-align: center;
    }

    p {
      padding: 1rem;
      font-size: 15px;
      text-align: center;
      .mark {
        text-decoration: underline;
      }

      .highlight {
        font-weight: bold;
      }
    }

    .introButtons {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }
  }

  .supportText {
    margin-top: 2.5rem;
    color: #00000050;
    text-align: center;
    font-weight: 800;
    padding: 1rem;
  }

  .showcase {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    img {
      background: #fff;
      border-radius: 120px;
      padding: 0.5rem;
      margin: 3px;
    }
  }
}
